*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
.navigation{
    overflow: hidden;
    padding: 10px;
		background-color: transparent;
		font-size: 20px;
		text-align: right;
		line-height: 40px;
}
.navigation a{
	margin:auto;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 12px;

}
.navigation a:hover {
	background-color: crimson;
	border-radius: 5px;

}
.navigation a:active {
	
	color: white;
	border-radius: 5px;

}
.navigation home {
	text-align: left;
	color: blue
}
.header{
    background-image: url(1.jpg);
    /* background-attachment: scroll; */
    /* background-size: cover; */
    background-position: top center;
    background-size: cover;
    position: relative;
    height: 100%;
}


.button{
    background-color: transparent;
    padding: 10px 30px;
    color: white;
    text-decoration: dashed;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 6px;
    border-color: crimson;
}
.button:hover{
    background-color: crimson;
}
.header-heading{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    display: block;
    width: auto;
    position: absolute;
    bottom:250px;
    left: 100px;
}
header h3{
    font-size: 30px;
}
span{
    color: crimson;
}
.projects {
	margin-bottom: 15px;
	text-align: center;
}
#projects{
	margin-bottom: 16px;
	color: crimson;
}
.projects a{
	    /* float: unset; */
			padding: 8px;
			font-size: 20px;
			margin-top: 10px;
			margin-left: 40px;
			/* margin-bottom: 15px; */
			text-decoration: none;
			background-color: tomato;
			color: white;
			font-weight: bold;
			border-radius: 4px;
	
}
.projects a:hover{
	background-color: crimson;
	color:white;
	border-radius: 4px;
	
}
.projects a:active{
	background-color: white;
	color: crimson;
}
